Здравствуйте, {{ user.profile.name }}
<br/>
<br/>
Вы получили это письмо потому что вы (или кто-то выдающий себя за вас)
запросил сброс пароля на сайте azob.ru. Если вы не хотите сбрасывать
свой пароль, пожалуйста, проигнорируйте это сообщение.
<br/>
<br/>
Чтобы сбросить пароль, перейдите по следующей ссылке: <a href="{{ url }}">{{ url }}</a>
<br/>
<br/>
Ваше имя пользователя, на случай если вы его забыли: {{ user.email }}
<br/>
С уважением, <br/>
Azob.ru