<p>Здравствуйте, {{ user.profile.name }}</p>
<h1>Поздравляем!</h1>
Вы успешно зарегистрировались на Azob.ru. Теперь вы стали полноценным участником проекта Azob.ru и теперь вам доступен весь функционал сервиса.
<br/>
С уважением, <br/>
Azob.ru