@font-face {
    font-family: 'Gotham Pro Regular';
    src: url('../fonts/GothamPro.eot');
    src: url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro.woff') format('woff'),
    url('../fonts/GothamPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro Medium';
    src: url('../fonts/11031.eot');
    src: url('../fonts/11031.eot?#iefix') format('embedded-opentype'),
    url('../fonts/11031.woff') format('woff'),
    url('../fonts/11031.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}