#footer {
    margin-top: 30px;
}

#footer .nav-item {
    float: left;
    list-style-type: none;
}

@media (min-width: 1200px) {
    #footer .container {
        max-width: 1280px;
        padding: 0 84px;
    }
}

#footer .container {
    padding-top: 48px;
    padding-bottom: 27px;
}

.footer-bottom .row .navbar-brand img {
    padding: 0;
    margin: 5px;
    border: 1px solid white;
}