/*.navbar {*/
    /*padding: 0.7rem 0.2rem;*/
/*}*/

.navbar-expand-md .navbar-nav {
    padding: 0.3rem 0.3rem;
}

.navbar-light .navbar-toggler {
    border: none;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-left: 1.4rem;
}

.freelancer {
    padding-left: 0;
}

h1 {
    font-family: "Gotham Pro Medium";
    font-size: 2.2rem;
    color: #333333;
    line-height: 2.2rem;
    margin-bottom: 0;
    margin-top: 0.3rem;
    position: relative;
}

h1.subtitle {
    color: #71808c;
    line-height: 2rem;
    margin-bottom: 1rem;
    margin-top: 0;
    position: relative;
}

.right-side h1 p {
    margin: 0;
}

.description {
    font-family: Roboto;
    /*font-size: 1.2rem;*/
    font-size: 1rem;
    line-height: 1.5rem;
    color: #333333;
    margin-bottom: 1.2rem;
    position: relative;
}

.login {
    font-size: 1.2rem;
}

.login .btn-success {
    font-family: "Roboto";
    background-color: #64ae24;
    border-color: #64ae24;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 2.3rem;
    margin-right: 0.4rem;
    padding: 0.375rem 1.8rem;
}

.login a.register {
    color: #71808c;
    text-decoration: underline;
    margin-left: 0.2rem;
    border: none;
}

.advantages {
    margin-top: 1.2rem;
}

.advantages>div {
    padding: 2px 4px;
}

.advantages>div>div {
    border: 1px solid #eff5f5;
    border-radius: 6px;
    padding: 2px;
}

.advantages>div img {
    float: left;
    margin-right: 3px;
}

.advantages>div p {
    color: #333333;
    font-size: 0.8rem;
    line-height: 1rem;
    font-weight: 500;
    margin: 5px;
}

.indicators {
    border-top: 2px solid #eff5f5;
    border-bottom: 2px solid #eff5f5;
    margin-top: 1.1rem;
    margin-bottom: 2.2rem;
    padding: 2.2rem 0 2rem;

}

.indicators>div>div {
    font-family: "Gotham Pro Medium";
    font-size: 3.5rem;
    line-height: 3.5rem;
    color: #246aae;
    float: left;
    margin-right: 1rem;
}

.indicators>div>p {
    color: #333333;
    font-size: 1.1rem;
    line-height: 1.4rem;
    margin: 0.5rem 0;

}
.indicators .actual {
    min-width: 200px;
}
.indicators .actual img {
    margin: 5px;
    float: left;
}
.indicators .actual>p {
    color: #a9b4bd;
}

.developers {
    margin-bottom: 3.5rem;
}

.developers>div {
    padding-top: 0.8rem;
}

.developers>div.register {
    padding-top: 0;
}

.developers>div.register a {
    text-decoration: none;
}


.developers p {
    color: #333333;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.1rem;
}

.developers img {
    float: left;
    margin-right: 0.7rem;
}

.developers .plus p {
    font-family: Roboto;
    font-weight: 500;
    font-size: 1.2rem;
    text-transform: uppercase;
    line-height: 2.3rem;
    margin-right: 4rem;
}

#footer {
    margin-top: 30px;
}

#footer .container {
    padding-top: 48px;
    padding-bottom: 27px;
}

#footer .nav-item {
    float: left;
    list-style-type: none;
}


.admin-link {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 0.7rem;
    display: inline-block;
    color: #a9b4bd;
    border: 1px solid;
    border-radius: 2px;
    line-height: 1rem;

}