
@media (min-width: 1200px) {
    .container {
        max-width: 1280px;
        padding: 0 84px;
    }
}

body {
    font-family: Roboto;
}

.navbar .icon-bar {
    background-color:#33aa33;
}

.bg-dark {
    background-color: #f5f5f5;
}

.navbar-text {
    margin-left: 10px;
}

.avatar {
    display: inline-block;
    width: 14px;
    height: 13px;
    /*background-image: url("../images/avatar.png");*/
}

.navbar-text .avatar {
    margin-right: 5px;
}

.avatar img {
    width: 90px;
    height: 90px;
}

.navbar-text {
    padding: 0;
}

nav .username,
nav .username a {
    font-family: 'Gotham Pro Medium';
    font-size: 1rem;
    color: #000000;
}

main {
    margin-top: 48px;
}

table tr:first-child td {
  border-top: 0;
}

.no-transform {
    text-transform: none;
}

nav.navbar {
    margin-bottom: 30px;
    padding: 17px 0 16px 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: #71808c;
}

nav .navbar-brand  {
    padding-top: 1px;
    padding-bottom: 4px;
}

nav .project-name a {
    text-transform: uppercase;
    color: #71808c;
    text-decoration: underline;
    font-family: "Gotham Pro Medium";
    display: inline-block;
    padding-right: 18px;
    background: url("../images/link.png") right no-repeat;
}


nav .btn-create {
    margin-left: 29px;
}

nav.d-md-none .navbar-text {
    margin-left: 5px;
}

nav.d-md-none .btn-create {
    margin-left: 0;
}

nav.d-md-none .col {
    padding-right: 0;
    padding-left: 0;
}

nav.d-md-none .btn {
    padding: 0.375rem 0.75rem;
}

.navbar-light .navbar-toggler {
    border: none;
}


h2.project-name a {
    display: inline-block;
    padding-left: 24px;
    background: url("../images/h2-bullet1.png") no-repeat left 4px;
    font-family: "Gotham Pro Medium";
    color: #333333;
}

h2.project-name a:hover {
    color: #246aae;
    background: url("../images/h2-bullet1.png") no-repeat left -145px;

}

.task-list td {
    font-size: 1.2rem;
}
.task-list td.date {
    font-size: 0.8rem;
    padding-top: 14px;
    min-width: 123px;
}

.task-list td.deadline {
    width: 150px;
    font-size: 0.8rem;
}


.table-nonfluid {
   width: auto !important;
}

.task-list table a {
    color: #246aae;
    text-decoration: none;
}

.task-list table tr.done a {
    color: #71808c;
}

.task-list table tr.ready a {
    color: #64ae24;
}

.task-list table .status {
    padding-left: 15px;
    margin-left: 10px;
    background: url("../images/status_none.png") left 3px no-repeat;
}

.task-list table .status span {
    font-size: 0.8rem;
}

.task-list table .status-time {
    padding-left: 36px;
    background: url("../images/status_time.png") left 3px no-repeat;
    color: #64ae24;
}

.task-list table .status-green {
    color: #64ae24;
}

.task-list table .status-fire {
    padding-left: 36px;
    background: url("../images/status_fire.png") left 1px no-repeat;
    color: #df1749;
}

.task-list table .status-red {
    color: #df1749;
}

.task-list table .status-message {
    padding-left: 36px;
    background: url("../images/status_message.png") left 3px no-repeat;
}

.task-list table a:hover{
    color: #246aae;
}

.btn-primary.btn-create:hover {
    color: #246aae;
    background-color: transparent;
    background-image: none;
    border-color: #246aae;
    text-decoration: underline;
}


.task-name a {
    padding-left: 25px;
    background: url("../images/pre.png") left -4px no-repeat;

}
.task-name span.text {
    color: #71808c;
    font-size: 0.8rem;
}
.task-name span.badge {
    border-radius: 0;
    padding-top: 8px;
    font-size: 1.2rem;
    font-weight: 500;
}

.task-name span.project-name {
    font-size: 1.6rem;
    font-family: "Gotham Pro Medium";
    text-decoration: underline;
    color: #71808c;
}

.task-name span.arrow {
    display: inline-block;
    background: url("../images/arrow.png") no-repeat 3px 3px;
    width: 23px;
    height: 20px;
}

.task-name span.number {
    font-size: 1.6rem;
    font-family: "Gotham Pro Medium";
    color: #afafaf;
}

.task-name span.name {
    font-size: 1.7rem;
    font-family: "Gotham Pro Medium";
    color: #333333;
}

.badge.info {
    width: 100%;
}

.badge span {
    padding-top: 8px;
    padding-bottom: 8px;
}

.badge .person {
    float: left;
    padding-left: 27px;
    padding-right: 10px;
    background: url("../images/avatar.png") no-repeat 9px 11px;
    font-family: "Gotham Pro Medium";
    font-weight: 400;
    text-decoration: underline;
}

.badge .developer {
    color: #afafaf;
    font-size: 0.8rem;
    font-family: Roboto;
    font-weight: 400;
    line-height: 1.2rem;
    float: left;
}

.badge .date {
    color: #afafaf;
    font-size: 0.8rem;
    font-family: Roboto;
    font-weight: 400;
    line-height: 1;
    margin-left: 8px;
}

.badge .percent {
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 1.2rem;
}

.task-description {
    padding-top: 0.8rem;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 400;
    color: #333333;
}

.task-description h1 {
    font-size: 2rem;
}

.apply-work button{
    margin-top: 4px;
}

.apply-work p {
    font-size: 1rem;
    font-family: Roboto;
    font-weight: 400;
    line-height: 2.8rem;
    color: #246aae;
    margin-bottom: 0;
}

.header .text {
    margin-bottom: 9px;
}

.header .summary {
    text-align: right;
}

.header .summary .larger {
    font-size: 1.3rem;
    line-height: 1.3rem;
}

.header .summary .btn {
    padding-left: 80px;
    padding-right: 80px;
}


.discussion,
.files-wrapper {
    padding-top: 7px;
}

.discussion {
    margin-top: 20px;
}

.discussion h6,
.files-wrapper h6 {
    color: #246aae;
    font-size: 1.2rem;
}

.discussion form {
    position: relative;
}

.discussion .files a,
.files-wrapper .files a {
    color: #71808c;
    text-decoration: none;
}

.estimation .header {
    margin-top: 30px;
}

.estimation .header.developer-estimation {
    margin-top: 0;
    margin-bottom: 1rem;
}

.estimation .header a {
    font-size: 1.2rem;
    font-weight: 500;
}

.estimation .header a div {
    display: inline-block;
    background-image: linear-gradient(to right,#246aae 50%,rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 9px 1px;
    background-repeat: repeat-x;
    line-height: 1.4rem;
}

.estimation .header a:hover {
    text-decoration: none;
}

.estimation .header a div:hover {
    background: none;
}

.estimation .header span span {
    font-size: 1.2rem;
    font-weight: 500;
    color: #000000;
    padding-left: 24px;
    background: url("../images/arrow-bottom1.png") no-repeat 2px -17px;
}

.estimation .header a.collapsed span span {
    background: url("../images/arrow-bottom1.png") no-repeat 1px 3px;
}

.estimation table tr:first-child td {
    border-top: 1px solid #e5e5e5;
}

.estimation .table td {
    border-top: 0;
    padding: 5px 15px 0;
    font-size: 0.9rem;
}

.estimation .table .row {
    padding: 0 7px;
}

.estimation .table td.estimation {
    color: #000000;
    font-size: 1.2rem;
    font-weight: 500;
}

.estimation .table .summary td.total {
    font-size: 1.3rem;
}

.task-description h6 {
    font-weight: bold;
    margin: 20px 0;
}

.estimation .freeze-balance {
    font-size: 0.9rem;
    line-height: 2.6rem;
}

.estimation {
    font-size: 0.9rem;
    line-height: 2.6rem;
}

.estimation .header span span.red,
.red {
    color: #df1749;
}

.gray {
    color: #71808c;
}

.send-estimation {
    font-size: 0.9rem;
    line-height: 2.6rem;
}

.discussion .btn-group {
    float: right;
}

.discussion .btn-group > .btn {
    border-radius: 3px;
    margin-left: 3px;
    padding: 1px 2px;
    font-size: 0.8rem;
    display: inline-block;
    min-width: 25px;
    text-align: center;
    color: #71808c;
    background-color: #f5f5f5;
}

.discussion .btn-group > .btn:not(:last-child):not(.dropdown-toggle),
.discussion .btn-group > .btn-group:not(:last-child) > .btn {
    border-radius: 3px;
}

.task-description p.description {
    margin: 20px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #dee2e6;
}

.issue-add-file-btn {
    padding-left: 20px;
    background: url("../images/plus.png") no-repeat -3px -1px;
    color: #71808c;
    text-decoration: underline;
    cursor: pointer;
}

.task-description .discussion form a {
    text-decoration: underline;
}

.comments .badge {
    margin-top: 2px;
}

.comments .badge .person {
    text-decoration: none;
}
.comments .badge .person .status {
    font-family: "Roboto";
    color: #246aae;
}

.comments .badge .comment {
    text-align: left;
    font-size: 0.9rem;
    padding: 1px 7px;
    font-weight: 400;
    color: #333333;
    white-space: normal;
}

.comments .badge .comment blockquote {
    border-left: 1px solid;
    padding-left: 1rem;
}

.comments .badge .comment p {
    margin-top: 0.7rem;
    margin-bottom: 0.3rem;
}

.comments .badge.badge-invert {
    background-color: #ffffff;
}

.comments .badge.badge-invert .person{
    color: #000000;
    background: url("../images/avatar-black.png") no-repeat 8px 9px;
}

.comments .badge .comment .files a {
    border: 1px solid;
    color: #71808c;
    border-radius: 4px;
    padding: 7px 10px 4px;
    background: #fff;
    display: inline-block;
    margin-bottom: 6px;
    margin-right: 8px;
}

.clear {
    clear: both;
}

.task-description .comments .controls {
    color: #007bff;
}

.task-description .comment .info .hidden {
    display: inline-block;
    margin: 0 10px 0 20px;
    color: darkred;
}

.task-description .comments .controls a {
    text-decoration: underline;
}

.part-detail {
    margin: 40px 0 5px 0;
}

.part-detail-name {
    margin-bottom: -15px;
}

.part-detail p {
    margin-bottom: 0.2rem;
    font-size: 0.9rem;
}

.task-detail-options a {
    font-size: 10px ;
}

.buffer-top {
    margin-top: 20px;
}

.buffer-bottom {
    margin-bottom: 20px;
}

.issue-add-files .issue-add-file {
    display: none;
}

.block-edit {
    display: none;
}

.discussion form .progress {
    display: none;
}

#file-upload input[type="file"] {
    display: none;
}

#file-upload {
    display: inline-block;
}

#file-upload label {
    margin-left: 20px;
    position: relative;
    padding-right: 9px;
}

.loader {
    display: none;
    position: absolute;
    right: -17px;
    top: 2px;
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#attached-files {
    display: inline-block;
}

.attached-file {
    display: inline-block;
    border-radius: 0.25rem;
    background-color: #f5f5f5;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 0 10px 0 10px;
}
.delete-attached-file {
    height: 12px;
    width: 13px;
    display: inline-block;
    margin-left: 8px;
    background: url("../images/delete_attached_file.png") no-repeat;
}

.estimation .item-detail {
    width: 45%;
}

#select-deadline-modal .modal-body .btn {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-right: 15px;
}

.row.deadline {
    margin-top: 20px;
}

.CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
    background: none;
}

.editor-preview, .editor-preview-side {
    background: #efefef;
}

.page-404 p,
.moderation p {
    color: #333333;
    font-family: "Gotham Pro Medium";
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.page-404 p span,
.moderation p span {
    color: #71808c;
}

.moderation p span {
    font-size: 1rem;
}

.registration-form #id_type label {
    margin-right: 1rem;
}

@media screen and (max-width: 600px) {

    .estimation .item-detail {
        width: 100%;
    }

    html {
      margin-left: 7px;
      margin-right: 7px;
    }

    table {
      border: 0;
    }

    table thead {
      display: none;
    }

    table td {
      display: block;
      text-align: right;
      font-size: 13px;
      border-bottom: 1px dotted #ccc;
    }

    table td:before {
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: bold;
    }
    .estimation .table td {
        padding: 5px 0 0;
    }
  }


