{% load i18n %}

<div class="btn-group mb-2" role="group" aria-label="Formatting">
    <button type="button" class="btn"><b>{% trans 'Ж' %}</b></button>
    <button type="button" class="btn"><i>{% trans 'К' %}</i></button>
</div>
{% include 'django/forms/widgets/textarea.html' %}