html {
    font-size: 85.5%;
}

.no-transform {
    text-transform: none;
}

nav.navbar {
    margin-bottom: 30px;
}

nav .navbar-brand, nav .username {
    color: green !important;
}


.header {
    border-bottom: 1px solid #dee2e6;
    font-weight: bold;
    text-transform: uppercase;
}

.header .text {
    margin-bottom: 10px;
}

.header .avatar {
    display: inline-block;
    float: left;
    margin-right: 15px;
    border: 1px solid black;
    padding: 5px;
}

.header .avatar img {
    width: 90px;
    height: 90px;
}

.header .summary {
    text-align: right;
}

.header .summary .larger {
    font-size: 1.3rem;
    line-height: 1.3rem;
}

.header .summary .btn {
    padding-left: 80px;
    padding-right: 80px;
}


.task-list {
    margin-top: 20px;
}

.task-list .project-name {
    font-weight: bold;
    text-transform: uppercase;
}

.task-list th, .task-list td {
    text-transform: uppercase;
}

.task-list .more {
    text-decoration: underline;
}


.task-description h6 {
    font-weight: bold;
    margin: 20px 0;
}

.task-description p.description {
    margin: 20px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #dee2e6;
}

.task-description .files {
    border-bottom: 1px solid #dee2e6;
}

.task-description .files a {
    color: black;
    text-decoration: underline;
}

.task-description .discussion form a {
    text-decoration: underline;
}

.task-description .comments .controls {
    color: #007bff;
}

.task-description .comment .info .hidden {
    display: inline-block;
    margin: 0 10px 0 20px;
    color: darkred;
}

.task-description .comments .controls a {
    text-decoration: underline;
}

.part-detail {
    margin: 40px 0 5px 0;
}

.part-detail-name {
    margin-bottom: -15px;
}

.task-detail-options a {
    font-size: 10px ;
}

.buffer-top {
    margin-top: 20px;
}

@media screen and (max-width: 600px) {
    html {
      margin-left: 7px;
      margin-right: 10px;
    }

    table {
      border: 0;
    }

    table thead {
      display: none;
    }

    table tr {
      margin-bottom: 10px;
      display: block;
      border-bottom: 2px solid #ddd;
    }

    table td {
      display: block;
      text-align: right;
      font-size: 13px;
      border-bottom: 1px dotted #ccc;
    }

    table td:last-child {
      border-bottom: 0;
    }

    table td:before {
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: bold;
    }
  }