{% extends 'base.html' %}

{% load bootstrap4 i18n %}

{% block title %}{% trans 'Измеить пароль' %}{% endblock %}

{% block container %}
    <main>

        <div class="container">
            <article class="row">
                <div class="offset-md-3 col-sm-6">

                    <h2>{% trans 'Изменить пароль' %}</h2>
                    <br/>

                    <form action="{% url 'accounts:change-password' %}" method="post" class="form" role="form">
                        {% csrf_token %}

                        {% bootstrap_form form %}

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">{% trans 'Сохранить' %}</button>
                        </div>
                    </form>
                </div>
            </article>
        </div>
    </main>
{% endblock %}