{% extends 'base.html' %}

{% load bootstrap4 i18n %}

{% block title %}Вход на сайт{% endblock %}

{% block container %}
        <div class="container">
            <article class="row">
                <div class="offset-md-3 col-sm-6">
                    <h2>Войти на сайт</h2>
                    <br/>

                    <form action="{% url 'accounts:login' %}" method="post" class="form" role="form">
                        {% csrf_token %}

                        {% bootstrap_form form %}

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">{% trans 'Log in' %}</button>
                            <a href="{% url 'accounts:registration' %}" class="btn btn-link">{% trans 'Регистрация' %}</a>
                            <a href="{% url 'accounts:recover_password' %}" class="btn btn-link">{% trans 'Забыли пароль?' %}</a>

{#            <a href="{% url 'auth_password_reset' %}" class="btn btn-link">{% trans 'Forgot password?' %}</a>#}
                        </div>
                    </form>
                </div>
            </article>
        </div>

{% endblock %}