{% extends 'base.html' %}

{% block title %}Выход из сайта{% endblock %}

{% block container %}
    <main>
        <div class="container">
            <article class="row">
                <div class="col-md-12">
                    <h1>Вы завершили работу</h1>
                    <p>Возвращайтесь снова.</p>
                    <a href="{% url 'issues:issues' %}" class="btn btn-primary">Главная</a>
                    <a href="{% url 'accounts:login' %}" class="btn btn-outline-primary">Войти снова</a>
                </div>
            </article>
        </div>
    </main>
{% endblock %}