{% extends 'base.html' %}

{% load bootstrap4 i18n %}

{% block title %}{% trans 'Настройки' %}{% endblock %}

{% block container %}
    <main>
        <div class="container">
            <article class="row">
                <div class="offset-md-3 col-sm-6">

                    <form action="{% url 'accounts:profile' %}" method="post" class="form" role="form">
                        {% csrf_token %}

                        {% bootstrap_form form %}

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">{% trans 'Сохранить' %}</button>
                            <a href="{% url 'accounts:change-password' %}" class="btn btn-link">{% trans 'Изменить пароль' %}</a>
                        </div>
                    </form>
                </div>
            </article>
        </div>
    </main>
{% endblock %}