{% extends 'base.html' %}

{% load bootstrap4 i18n %}

{% block title %}Вход на сайт{% endblock %}


{% block container %}
    <main>
        <div class="container">
            <article class="row">
                <div class="offset-md-3 col-sm-6">
                    <h2>Восстановление пароля</h2>
                    <br/>
                    <p>Пароль изменен.</p>
                    <a href="{% url 'issues:issues' %}" class="btn btn-primary">Главная</a>
                    <a href="{% url 'accounts:login' %}" class="btn btn-outline-primary">Войти</a>
                </div>
            </article>
        </div>
    </main>
{% endblock %}