{% extends 'base.html' %}

{% block title %}Выход из сайта{% endblock %}

{% block container %}
    <main>
        <div class="container">
            <article class="row">
                <div class="col-md-12">
                    <h2>Сброс пароля</h2>
                    <br/>
                    <p>Вам было отправлено письмо со ссылкой на сброс пароля. Проверьте вашу почту и перейдите по указанной ссылке для продолжения.</p>
                </div>
            </article>
        </div>
    </main>
{% endblock %}