{% extends 'base.html' %}

{% load bootstrap4 i18n %}

{% block title %}Сброс пароля{% endblock %}

{% block container %}
        <div class="container">
            <article class="row">
                <div class="offset-md-3 col-sm-6">

                    <h2>Сброс пароля</h2>
                    <br/>
                    <form method="post" class="form" role="form">
                        {% csrf_token %}

                        {% bootstrap_form form %}

                        <div class="form-group">
                        <button type="submit" class="btn btn-primary">{% trans 'Отправить' %}</button> &nbsp;

                        </div>
                    </form>
                </div>
            </article>
        </div>

{% endblock %}