{% extends 'base.html' %}

{% load bootstrap4 i18n %}

{% block title %}Регистрация на Azob.ru{% endblock %}


{% block container %}
    <main>
        <div class="container">
            <article class="row">
                <div class="offset-md-3 col-sm-6">
                    <h2>Регистрация на Azob.ru</h2>
                    <br/>
                    <p>Вы успешно зарегистрировались на Azob.ru</p>
                    <br/>
                    <a href="{% url 'issues:issues' %}" class="btn btn-primary">Перейти в список проектов</a>
                </div>
            </article>
        </div>
    </main>
{% endblock %}