{% extends 'base.html' %}

{% load bootstrap4 i18n %}

{% block title %}Регистрация на Azob.ru{% endblock %}

{% block container %}
        <div class="container">
            <article class="row">
                <div class="offset-md-3 col-sm-6">
                    <h2>Регистрация на Azob.ru</h2>
                    <br/>

                    <form method="post" class="form registration-form" role="form">
                        {% csrf_token %}

                        {% bootstrap_form form %}

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">{% trans 'Зарегистрироваться' %}</button>
                        </div>
                    </form>
                </div>
            </article>
        </div>

{% endblock %}