{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap4 %}
{% load static %}
{% load thumbnail %}

{% block head %}
    <link rel="stylesheet" href="{% static 'simplemde/simplemde.min.css' %}">
{% endblock %}

{% block js_bottom %}
    {{ block.super }}

    <script src="{% static 'simplemde/simplemde.min.js' %}"></script>
    <script>
        var uploadUrl = "{% url 'issues:upload-file' 0 project.id %}";
        var addIssue = true;
    </script>
    <script src="{% static 'js/issue_files.js' %}?_=1703"></script>
    <script src="{% static 'js/markdown.js' %}?_=2703"></script>
{% endblock %}

{% block container %}

        <h2>{% trans 'Создание новой задачи для проекта' %} {{ project }}</h2>
        <form method="post" action="{% url 'issues:add_issue' project.id %}" enctype="multipart/form-data" id="new-issue-form">
            {% csrf_token %}
            <div class="form-group">
                {{ form.errors.title }}
                <input name="title" type="text" class="form-control" required="required">
            </div>
            <div class="form-group">
                <textarea name="description" class="form-control markdown" rows="7"></textarea>
            </div>
            <div id="file-upload">
                <button class="btn btn-primary btn-create-issue"
                        type="submit">{% trans 'Создать задачу' %}</button>
                {% csrf_token %}
                <label>
                    <input type="file" id="multiFiles" name="files[]" multiple="multiple">
                    <span class="issue-add-file-btn">Добавить файл</span>
                    <div class="loader"></div>
                </label>

            </div>
        </form>




{% endblock %}

