{% for f in files %}
    <div class="attached-file" data-file="{{ f.id }}">
        {{ f.filename }}
        <span class="delete-attached-file" href="{% url 'issues:delete-file' f.issue_id f.id %}"></span>
        <input type="hidden" name="fileIds[]" value="{{ f.id }}">
    </div>
{% endfor %}
