{% load i18n %}
<div class="block block-{{ uuid }}">
    <div class="block-edit block-edit-0">
        <form method="post" action="{% url 'issues:issue_block_developer' iss.id 0 %}" data-block-id="0">
            {% csrf_token %}
            <input class="new-items-count-0" name="new-items-count" value="1" type="hidden">
            <div class="task-name buffer-top">
                <div class="form-group row">
                    <label for="colFormLabel" class="col-sm-1 col-form-label">{% trans 'Название' %}:</label>
                    <div class="col-sm-6">
                        <input name="title" class="form-control" id="colFormLabel" placeholder="{% trans 'Название блока' %}" value="">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="description" class="col-sm-1 col-form-label">{% trans 'Описание' %}:</label>
                    <div class="col-sm-6">
                        <textarea name="description" class="form-control" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="task-details table-responsive buffer-top">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>{% trans 'Наименование' %}</th>
                            <th>{% trans 'Оценка (расчет)' %}</th>
                            <th>{% trans 'Оценка (будет оплачено)' %}</th>
                            <th>{% trans 'Оценка (видит Заказчик)' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="item item-0-0">
                            <td class="task-detail-options">
                                <a href="javascript:void(0);" class="add-item" data-block-id="0" data-count="1" data-insert-before="item-0-0">+1</a>
                                <a href="javascript:void(0);" class="delete-item" data-block-id="0" data-item-id="0"  data-is-new-item="true">{% trans 'удалить' %}</a>
                                <input name="item-delete-0" value="0" type="hidden">
                            </td>
                            <td data-label="Наименование" class="item-detail">
                                <textarea name="new-item-title-0" class="form-control" rows="1"></textarea>
                            </td>
                            <td data-label="Оценка (расчет)">
                                <input name="new-item-estimate-0"
                                       class="form-control estimate-input"
                                       data-block-id="{{ b.uuid }}"
                                       data-issue-id="{{ iss.id }}"
                                       placeholder="{% trans 'Оценка в часах' %}" value="">
                            </td>
                            <td data-label="Оценка (будет оплачено)"><span class="estimate-developer">{{ i.developer_estimate }}</span> {% trans 'чч' %}</td>
                            <td data-label="Оценка (видит Заказчик)"><span class="estimate-customer">{{ i.customer_estimate }}</span> {% trans 'чч' %}</td>
                        </tr>
                        <tr class="total-0 total">
                            <td><a href="#">&nbsp;</a></td>
                            <td class="text-right"><b>{% trans 'ИТОГО' %}:</b></td>
                            <td data-label="Оценка (расчет)"><b><span class="estimate">{{ b.estimate|floatformat:2 }}</span> {% trans 'чч' %}</b></td>
                            <td data-label="Оценка (будет оплачено)"><b><span class="estimate-developer">{{ b.developer_estimate|floatformat:2 }}</span> {% trans 'чч' %}</b></td>
                            <td data-label="Оценка (видит Заказчик)"><b><span class="estimate-customer">{{ b.customer_estimate|floatformat:2 }}</span> {% trans 'чч' %}</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <a href="javascript:void(0);" class="add-item" data-block-id="0" data-count="1" data-insert-before="total-0">{% trans 'добавить 1 строку' %}&nbsp;&nbsp;</a>
            <a href="javascript:void(0);" class="add-item" data-block-id="0" data-count="5" data-insert-before="total-0">{% trans 'добавить 5 строк' %}&nbsp;&nbsp;</a>
            <a href="javascript:void(0);" class="add-item" data-block-id="0" data-count="20"  data-insert-before="total-0">{% trans 'добавить 20 строк' %}&nbsp;&nbsp;</a>
            <button class="btn btn-primary add-block" type="submit">{% trans 'Сохранить' %}</button>
            <button class="btn btn-outline-danger delete-block float-right" type="button"
                    data-block-class="block-{{ uuid }}"
                    data-delete-url="false">{% trans 'Удалить блок' %}</button>
        </form>
    </div>
</div>
