{% load i18n %}
{% load bootstrap4 %}
{% load my_csrf %}

{#{{ form.media }}#}

<form method="post" action="{% url 'issues:comments' iss.id %}" enctype="multipart/form-data">
    {% csrf_token %}
    <h6>
        {% if role == 'developer' %}
            {% trans 'Сообщение Заказчику' %}</h6>
        {% else %}
            {% trans 'Сообщение Разработчику' %}</h6>
        {% endif %}

    {% if message_added %}
        {% trans 'Сообщение добавлено' as message_added %}
        {% bootstrap_alert message_added alert_type='success'  %}
    {% endif %}
    <div class="form-group">
        <textarea name="text" class="form-control markdown" rows="7"></textarea>
    </div>
{#    {{ form.text }}#}

    {% buttons %}
        <div class="progress buffer-bottom">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>

        <div id="file-upload">
            <button class="btn btn-primary"
                    type="submit">{% trans 'Отправить сообщение' %}</button>
            <label>
                <input type="file" id="multiFiles" name="files[]" multiple="multiple">
                <span class="issue-add-file-btn">Добавить файл</span>
                <div class="loader"></div>
            </label>

        </div>

    {% endbuttons %}

</form>

{% if comments %}
    <div class="comments">
{#        <div class="controls">#}
{#            <a href="javascript:void(0);" class="sort">{% trans 'Дата' %}</a> <i class="fas fa-long-arrow-alt-{% ifequal order 'create_dt' %}up{% else %}down{% endifequal %}"></i>#}
{#        </div>#}
        {% for comment in comments %}
            <div class="row">
                <div class="col">
                    <div class="badge badge-light info {% if comment.author == request.user.profile %}badge-invert{% endif %} {% if comment.change_status_comment %}change-status-comment{% endif %}">
                        <div>
                            <span class="person">
                                {% if comment.author == request.user.profile %}Вы{% else %}{{ comment.author.name }}{% endif %}
                                {% if comment.change_status_comment %}
                                    <span class="status">{{ comment.change_status_comment_text }}</span>
                                {% endif %}
                            </span>
                            <span class="date float-right">{{ comment.create_dt|date:"H:i:s / d b Y" }}</span>
                        </div>
                        <div class="clear comment">
                            {{ comment.html_text|safe|urlize }}
                            <div class="files">
                                {% for f in comment.files.all %}
                                    <a href="{{ f.file.url }}">{{ f.filename }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
