{% load i18n %}

{% if iss.files.count %}

    <div class="files">
        <h6>{% trans 'Файлы' %}</h6>

        <ul class="list-unstyled">
            {% for f in iss.files.all %}
                <li>
                    <a href="{{ f.file.url }}">{{ f.filename }}</a>
                    {% if f.datetime %}
                        ({{ f.datetime|date:"H:i:s / j b Y" }})
                    {% endif %}
                     {#     ({{ f.filesize }})   #}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}