{% load i18n %}
<div class="block-show block-show-{{ b.id }}"
     data-block-class="block-{{ b.id }}"
     data-issue-estimate="{{ iss.estimate }}"
     data-issue-developer-estimate="{{ iss.developer_estimate }}"
     data-issue-customer-estimate="{{ iss.customer_estimate }}">
    <div class="part-detail buffer-top">
        <p class="part-detail-name">
            <b>{{ b.title }}: </b>
            {% if iss.is_status_wait_estimate %}
                <button class="btn btn-primary btn-sm edit-block" data-block-id="{{ b.id }}">{% trans 'Править' %}</button>
            {% endif %}
        <p>
        <p class="part-detail-description">{{ b.description|default_if_none:''|linebreaks|urlize|safe }}</p>
    </div>
    <div class="task-details table-responsive block" data="{{ b.id }}">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>{% trans 'Наименование' %}</th>
                    <th>{% trans 'Оценка (расчет)' %}</th>
                    <th>{% trans 'Оценка (будет оплачено)' %}</th>
                    <th>{% trans 'Оценка (видит Заказчик)' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for i in b.items.all %}
                    <tr>
                        <td class="text-left">{{ i.title|linebreaks|linebreaks|urlize|safe }}</td>
                        <td data-label="{% trans 'Оценка (расчет)' %}">{{ i.estimate|floatformat:2 }} {% trans 'чч' %}</td>
                        <td data-label="{% trans 'Оценка (будет оплачено)' %}">{{ i.developer_estimate|floatformat:2 }} {% trans 'чч' %}</td>
                        <td data-label="{% trans 'Оценка (видит Заказчик)' %}">{{ i.customer_estimate|floatformat:2 }} {% trans 'чч' %}</td>
                    </tr>
                {% endfor %}
                <tr class="total">
                    <td class="text-right"><b>{% trans 'ИТОГО' %}:</b></td>
                    <td data-label="Оценка (расчет)"><b><span class="estimate">{{ b.estimate|floatformat:2 }}</span> {% trans 'чч' %}</b></td>
                    <td data-label="Оценка (будет оплачено)"><b><span class="estimate-developer">{{ b.developer_estimate|floatformat:2 }}</span> {% trans 'чч' %}</b></td>
                    <td data-label="Оценка (видит Заказчик)"><b><span class="estimate-customer">{{ b.customer_estimate|floatformat:2 }}</span> {% trans 'чч' %}</b></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="block-edit block-edit-{{ b.id }}">
    <form method="post" action="{% url 'issues:issue_block_developer' iss.id b.id %}" data-block-id="{{ b.id }}" id="block-form-{{ b.id }}">
        {% csrf_token %}
        <input class="new-items-count-{{ b.id }}" name="new-items-count" value="0" type="hidden">
        <input name="cancel-editing" value="" type="hidden">
        <div class="task-name buffer-top">
            <div class="form-group row">
                <label for="colFormLabel" class="col-sm-1 col-form-label">{% trans 'Название' %}:</label>
                <div class="col-sm-6">
                    <input name="title" class="form-control" id="colFormLabel" placeholder="{% trans 'Название блока' %}" value="{{ b.title}}">
                </div>
            </div>

            <div class="form-group row">
                <label for="description" class="col-sm-1 col-form-label">{% trans 'Описание' %}:</label>
                <div class="col-sm-6">
                    <textarea name="description" class="form-control" rows="3">{{ b.description|default_if_none:'' }}</textarea>
                </div>
            </div>
        </div>
        <div class="task-details table-responsive buffer-top">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>{% trans 'Наименование' %}</th>
                        <th>{% trans 'Оценка (расчет)' %}</th>
                        <th>{% trans 'Оценка (будет оплачено)' %}</th>
                        <th>{% trans 'Оценка (видит Заказчик)' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in b.items.all %}
                        <tr class="item item-{{ b.id }}-{{ i.id }}">

                            <td class="task-detail-options">
                                <a href="javascript:void(0);" class="add-item" data-block-id="{{ b.id }}" data-count="1" data-insert-before="item-{{ b.id }}-{{ i.id }}">+1</a>
                                <a href="javascript:void(0);" class="delete-item" data-block-id="{{ b.id }}" data-item-id="{{ i.id }}"  data-is-new-item="false">{% trans 'удалить' %}</a>
                                <input name="item-delete-{{ i.id }}" value="0" type="hidden">
                            </td>
                            <td data-label="Наименование" class="item-detail">
                                <textarea name="item-title-{{ i.id }}" class="form-control" rows="1">{{ i.title}}</textarea>
                            </td>
                            <td data-label="Оценка (расчет)">
                                <input name="item-estimate-{{ i.id }}"
                                       class="form-control estimate-input"
                                       data-block-id="{{ b.id }}"
                                       data-issue-id="{{ iss.id }}"
                                       placeholder="{% trans 'Оценка в часах' %}"
                                       value="{{ i.estimate|floatformat:2 }}">
                            </td>
                            <td data-label="Оценка (будет оплачено)"><span class="estimate-developer">{{ i.developer_estimate|floatformat:2 }}</span> {% trans 'чч' %}</td>
                            <td data-label="Оценка (видит Заказчик)"><span class="estimate-customer">{{ i.customer_estimate|floatformat:2 }}</span> {% trans 'чч' %}</td>
                        </tr>
                    {% endfor %}

                    <tr class="total-{{ b.id }} total">
                        <td><a href="#">&nbsp;</a></td>
                        <td class="text-right"><b>{% trans 'ИТОГО' %}:</b></td>
                        <td data-label="Оценка (расчет)"><b><span class="estimate">{{ b.estimate|floatformat:2 }}</span> {% trans 'чч' %}</b></td>
                        <td data-label="Оценка (будет оплачено)"><b><span class="estimate-developer">{{ b.developer_estimate|floatformat:2 }}</span> {% trans 'чч' %}</b></td>
                        <td data-label="Оценка (видит Заказчик)"><b><span class="estimate-customer">{{ b.customer_estimate|floatformat:2 }}</span> {% trans 'чч' %}</b></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <a href="javascript:void(0);" class="add-item" data-block-id="{{ b.id }}" data-count="1" data-insert-before="total-{{ b.id }}">{% trans 'добавить 1 строку' %}&nbsp;&nbsp;</a>
        <a href="javascript:void(0);" class="add-item" data-block-id="{{ b.id }}" data-count="5" data-insert-before="total-{{ b.id }}">{% trans 'добавить 5 строк' %}&nbsp;&nbsp;</a>
        <a href="javascript:void(0);" class="add-item" data-block-id="{{ b.id }}" data-count="20"  data-insert-before="total-{{ b.id }}">{% trans 'добавить 20 строк' %}&nbsp;&nbsp;</a>
        <button class="btn btn-primary add-block" type="submit">{% trans 'Сохранить' %}</button>
        <button class="btn btn-primary btn-outline-danger cancel-block-editing" type="button"
                data-block-form-id="block-form-{{ b.id }}">
            {% trans 'Отменить' %}
        </button>
        <button class="btn btn-outline-danger delete-block float-right" type="button" data-toggle="modal" data-target="#confirmDeleteBlockModal"
                data-block-class="block-{{ b.id }}"
                data-delete-url="{% url 'issues:delete-estimate-block' iss.id b.id %}">
            {% trans 'Удалить блок' %}
        </button>

    </form>
</div>