{% load i18n %}

{% if role == 'customer' %}
    {% if iss.is_status_wait_estimate_approve %}
        <button type="button"
                data-status="approve-estimate"
                class="btn btn-primary btn-change-status">{% trans 'Утвердить оценку' %}</button>
    {% endif %}
    {% if iss.is_status_wait_work_approve %}
        <button type="button"
                data-status="approve-work"
                class="btn btn-primary btn-change-status">{% trans 'Принять работу' %}</button>
    {% endif %}
    {% if iss.is_status_in_process %}
        <p>В работе</p>
    {% endif %}
    {% if iss.is_status_wait_fix_corrections %}
        <p>На исправлении</p>
    {% endif %}
{% endif %}

{% if role == 'developer' %}
    {% if iss.is_status_wait_estimate_approve %}
        <p>На подтверждении</p>
    {% endif %}
    {% if iss.is_status_in_process %}
        <button type="button"
                data-status="done"
                class="btn btn-primary btn-change-status">{% trans 'Готово' %}</button>
    {% endif %}
    {% if iss.is_status_wait_fix_corrections %}
        <button type="button"
                data-status="done"
                class="btn btn-primary btn-change-status">{% trans 'Готово' %}</button>
    {% endif %}
    {% if iss.is_status_wait_work_approve %}
        <p>На проверке</p>
    {% endif %}
{% endif %}

{% if iss.is_status_wait_estimate %}
    <p>Ожидание оценки</p>
{% endif %}

{% if iss.is_status_done %}
    <p>Закрыто</p>
{% endif %}

