{% extends 'base.html' %}

{% load i18n %}
{% load thumbnail %}
{% load static %}

{% block container %}

        {% for p, issues in issues_dict %}
            <h2 class="project-name"><a href="{% url 'issues:add_issue' p.id %}">{% trans 'Задачи' %} {{ p.name }}</a></h2>

            <div class="task-list table-responsive">

                {% if not issues %}
                    <br/>
                    <button type="button" class="btn btn-primary btn-create" onclick='location="{% url 'issues:add_issue' p.id %}"'>{% trans 'Создать задачу' %}</button>
                {% endif %}

                <table class="table">
                    <tbody>
                        {% for i in issues %}
                            <tr class="{% if i.is_status_done %}done{% endif %}{% if i.is_status_wait_work_approve %} ready{% endif %}">
                                <td class="text-left"><a href="{% url 'issues:issue' i.id %}">
                                    #{{ i.pk }} &nbsp; {{ i.title }}
                                    {% if i.is_status_wait_estimate %}
                                        <span class="status status-green"><span>Ожидает оценки</span> </span>
                                    {% endif %}
                                    {% if i.is_status_wait_estimate_approve %}
                                        <span class="status status-green"><span>Оценка готова, ожидает подтверждения</span> </span>
                                    {% endif %}
                                    {% if i.is_status_in_process %}
                                        <span class="status status-green"><span>В работе</span> </span>
                                    {% endif %}
                                    {% if i.is_status_wait_work_approve %}
                                        <span class="status status-time"><span>Выполнено, ожидает приёмки</span> </span>
                                    {% endif %}
                                    {% if i.is_status_wait_fix_corrections %}
                                        <span class="status status-red"><span>Исправление замечаний</span> </span>
                                    {% endif %}
                                    {% if i.is_status_done %}
                                        <span class="status "><span>Закрыта</span> </span>
                                    {% endif %}
                                    {% if i.has_comments %}
                                        <span class="status status-message"><span>Вам сообщение</span> </span>
                                    {% endif %}
                                </a></td>
                                <td data-label="{% trans 'Создана' %}" class="date text-right align-text-bottom">{{ i.create_dt|date:"H:i / d b Y" }}</td>
    {#                                <td data-label="{% trans 'Дедлайн' %}">{{ i.deadline|default_if_none:"" }}</td>#}
                                <td data-label="{% trans 'Дедлайн' %}" class="text-right text-md-center deadline">
                                    {% if i.deadline %}
                                        {% if i.is_deadline %}
                                            {% if i.is_status_done %}
                                                <span class="badge badge-pill badge-light">{{ i.deadline|date:"d b" }}</span>
                                            {% else %}
                                                <span class="badge badge-pill badge-danger">{{ i.deadline|date:"d b" }}</span>
                                            {% endif %}{% else %}
                                            {% if i.is_status_wait_work_approve %}
                                                <span class="badge badge-pill badge-success">{{ i.deadline|date:"d b" }}</span>
                                            {% else %}
                                                <span class="badge badge-pill badge-primary">{{ i.deadline|date:"d b" }}</span>
                                            {% endif %}
                                        {% endif %}
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        {% endfor %}

{% endblock %}

