{% extends 'issue.html' %}
{% load i18n %}
{% load rupluralize %}

{% block estimation %}

    {% if not iss.is_status_wait_estimate %}

        <div class="header">
            <a href="#estimateTable" data-toggle="collapse" class="text-primary collapsed">
                <div>Оценка времени разработчиком</div>
                <span>
                    <span {% ifequal iss.customer_estimate 0 %} class="red" {% endifequal %}>{{ iss.customer_estimate|floatformat:2 }}</span> {% trans 'чч' %}
                </span>
            </a>
        </div>

        <div id="estimateTable" class="collapse">
            {% for b in iss.blocks.all %}
                <div>
                    <div class="part-detail buffer-top">
                        {{ b.title }}
                        <p>{{ b.description|linebreaks|urlize|safe }}</p>
                    </div>

                    <table class="table table-hover">
                        <tbody>
                            {% for i in b.items.all %}
                                <tr class="row">
                                    <td class="text-left col-8 col-md-10">{{ forloop.counter }}. {{ i.title }}</td>
                                    <td class="text-right col-4 col-md-2 estimation">+ {{ i.customer_estimate|floatformat:2 }} {% trans 'чч' %}</td>
                                </tr>
                            {% endfor %}
                            <tr class="summary row">
                                <td class="total col-8 col-md-10 text-right">
                                    <span class="text-primary">{% trans 'ИТОГО' %}</span>
                                    {% with total=b.items.count  %}
                                        {{ total }} {{ total|pluralize:'пункт,пункта,пунктов' }}
                                    {% endwith %}
                                </td>
                                <td class="text-right col-4 col-md-2 estimation"><span class="text-primary">{{ b.customer_estimate|floatformat:2 }} {% trans 'чч' %}</span></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            {% endfor %}
        </div>
        <div class="row">
            {% if iss.is_status_wait_work_approve or iss.is_status_wait_fix_corrections %}
                <div class="col col-12 col-md-10 text-md-right freeze-balance">
                    Если у Вас нет замечаний по задаче, пожалуйста, закройте задачу, нажав "Принять работу"
                </div>
                <div class="col col-12 col-md-2 text-center">
                    <button type="button"
                            data-status="approve-work"
                            class="btn btn-primary btn-change-status">{% trans 'Принять работу' %}</button>
                </div>
            {% endif %}
            {% if iss.is_status_wait_estimate_approve %}
                <div class="col col-12 col-md-10 text-md-right freeze-balance">
                    На вашем Балансе будет заморожено {{ iss.customer_estimate|floatformat:2 }} чч до конца выполнения задачи.
                </div>
                <div class="col col-12 col-md-2 text-center">
                    <button type="button"
                            data-status="approve-estimate"
                            class="btn btn-primary btn-change-status">{% trans 'Утвердить оценку' %}</button>
                </div>
            {% endif %}
            {% if iss.is_status_done %}
                <div class="col text-right red">
                    Если у Вас есть замечания по задаче, напишите комментарий, и задача автоматически откроется.
                </div>
            {% endif %}
        </div>

    {% endif %}

{% endblock %}

