{% extends 'issue.html' %}

{% load i18n %}
{% load static %}

{% block js_bottom %}
    {{ block.super }}
    <script>
        var addItemUrl = "{% url 'issues:issue_add_item' %}";
        var addBlockUrl = "{% url 'issues:issue_add_block' iss.id %}";
        var DK = {{ iss.developer.developer_coefficient|stringformat:"f" }};
        var PK = {{ iss.project.project_coefficient|stringformat:"f" }};
        var CK = {{ iss.project.customer.customer_coefficient|stringformat:"f" }};
        var CorK = {{ correction_coefficient|stringformat:"f" }};
    </script>
    <script src="{% static 'js/issue_estimate.js' %}?_=0304"></script>
{% endblock %}

{% block estimation %}
    <div class="developer-estimation header">
        <a href="#">
            <div>Оценка времени разработчиком</div>
            <span>
                <span class="total-developer-estimate {% ifequal iss.developer_estimate 0 %}red{% endifequal %}">{{ iss.developer_estimate|floatformat:2 }}</span> {% trans 'чч' %}
            </span>
        </a>
    </div>

    <div class="modal fade bd-example-modal-sm" id="confirmDeleteBlockModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">{% trans 'Подтверждение удаления' %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {% trans 'Удалить этот блок оценок?' %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-cancel" data-dismiss="modal" data-confirm="cancel">{% trans 'Отмена' %}</button>
            <button type="button" class="btn btn-secondary btn-delete" data-dismiss="modal" data-confirm="confirm">{% trans 'Удалить' %}</button>
          </div>
        </div>
      </div>
    </div>

    {% for b in iss.blocks.all %}
        <div class="block block-{{ b.id }}">
            {% include 'issue_block_developer.html' %}
        </div>
    {% endfor %}

    {% if iss.is_status_wait_estimate %}
        <button class="btn btn-primary add-block">{% trans 'Добавить ещё блок' %}</button>
    {% endif %}

    <h5 class="buffer-top">{% trans 'ИТОГОВАЯ ОЦЕНКА' %}: <b class="total-estimate">{{ iss.estimate|floatformat:2 }}</b> {% trans 'чч' %}</h5>
    <h5 class="buffer-top">{% trans 'БУДЕТ ОПЛАЧЕНО' %}: <b class="total-developer-estimate gray">{{ iss.developer_estimate|floatformat:2 }}</b> {% trans 'чч' %}</h5>
    <h5 class="buffer-top">{% trans 'ВИДИТ ЗАКАЗЧИК' %}: <b class="total-customer-estimate">{{ iss.customer_estimate|floatformat:2 }}</b> {% trans 'чч' %}</h5>

{#                <div class="discussion">#}
{#                    <h6>Дополнительно:</h6>#}
{##}
{#                    <form>#}
{#                        <div class="btn-group mb-2" role="group" aria-label="Formatting">#}
{#                            <button type="button" class="btn"><b>Ж</b></button>#}
{#                            <button type="button" class="btn"><i>К</i></button>#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <textarea class="form-control" rows="7"></textarea>#}
{#                        </div>#}
{#                </div>#}

    {% if role == 'developer' %}
        <div class="row">
            {% if iss.is_status_wait_estimate %}

                <div class="col col-10 text-right send-estimation">
                    Итого, за выполнение этой задачи будет оплачено <b class="total-developer-estimate {% ifequal iss.customer_estimate 0 %}red{% endifequal %}">{{ iss.developer_estimate|floatformat:2 }}</b> чч &nbsp;&nbsp;&nbsp;&nbsp;
                </div>
                <div class="col col-2 text-center">
                    <button type="button"
                        data-status="send-estimate"
                        class="btn btn-primary btn-change-status">
                    {% trans 'Подтвердить' %}</button>
                </div>

            {% endif %}
            {% if iss.is_status_wait_estimate_approve %}
                <div class="col col-10 text-right send-estimation">
                    Оценка ожидает подтверждения со стороны Заказчика &nbsp;&nbsp;&nbsp;&nbsp;
                </div>
                <div class="col col-2 text-center">
                    <button type="button"
                            data-status="correct-estimate"
                            class="btn btn-outline-danger btn-change-status">
                        {% trans 'Исправить оценку' %}</button>
                </div>
            {% endif %}
            {% if iss.is_status_in_process %}
                <div class="col col-10 text-right send-estimation">
                    Оценка подтверждена Заказчиком, можно приступать к выполнению.
                </div>
            {% endif %}
            {% if iss.is_status_wait_fix_corrections %}
                <div class="col col-10 text-right send-estimation">
                    Необходимо исправить замечания
                </div>
            {% endif %}
        </div>

    {% endif %}

{% endblock %}