{% extends 'base.html' %}

{% load i18n %}
{% load thumbnail %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'simplemde/simplemde.min.css' %}">
{% endblock %}

{% block js_bottom %}
    {{ block.super }}
    <script src="{% static 'gijgo/gijgo.min.js' %}" type="text/javascript"></script>
    <link href="{% static 'gijgo/gijgo.min.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static 'gijgo/messages.ru-ru.js' %}" type="text/javascript"></script>
    <script>
        var commentsUrl = "{% url 'issues:comments' iss.id %}";
        var filesUrl = "{% url 'issues:files' iss.id %}";
        var statusUrl = "{% url 'issues:change-issue-status' iss.id iss.estimate_revision 'status-tpl' %}";
        var uploadUrl = "{% url 'issues:upload-file' iss.id iss.project_id %}";
        var setDeadlineUrl = "{% url 'issues:set-deadline' iss.id %}";
        var addIssue = false;
    </script>
    <script src="{% static 'js/issue_status.js' %}?_=1702"></script>
    <script src="{% static 'js/issue_files.js' %}?_=1703"></script>
    <script src="{% static 'simplemde/simplemde.min.js' %}"></script>
    <script src="{% static 'js/markdown.js' %}?_=2703"></script>
    <script src="{% static 'js/issue_set_deadline.js' %}?_=0102"></script>
    <script src="{% static 'js/issue_comments.js' %}?_=2803"></script>
{% endblock %}

{% block container %}

    <div class="modal fade" id="statusAlert" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans 'Обновить' %}</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="select-deadline-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Укажите дату выполнения</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-3"></div>
                  <div class="col-6">
                      <input id="dedline-datepicker" />
                  </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-set-deadline">{% trans 'Сохранить' %}</button>
          </div>
        </div>
      </div>
    </div>

    <div class="header">
        <div class="row">
            <div class="col col-12 col-md-2 apply-work text-center d-md-none">
                {% include 'issue_status_action.html' %}
            </div>
            <div class="col">
                <div class="text task-name">
                    <a href="{% url 'issues:issues' %}"><span class="project-name">{{ iss.project.name }}</span></a>
                    <span class="arrow"></span>
                    <span class="number">#{{ iss.id }}</span>
                    <span class="name">{{ iss.title }}</span>
                    <span class="badge badge-primary total-customer-estimate">{{ iss.customer_estimate|floatformat:2 }} чч</span>
                    <span class="text">- оценка разработчиком</span>
                </div>
{#                <div class="user-info">#}
{#                        <div class="avatar">#}
{#                            {% thumbnail profile.avatar "90x90" crop="center" as im %}#}
{#                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">#}
{#                            {% empty %}#}
{#                                <img src="{% static 'images/avatar.svg' %}" width="200" height="200">#}
{#                            {% endthumbnail %}#}
{#                        </div>#}
{#                        <div class="text name">{{ profile.name }}</div>#}
{#                        <div class="text company">{{ customer }}</div>#}
{#                        {% if customer.site %}#}
{#                            <div class="text url">{% trans 'Веб-сайт' %}: <a href="{{ customer.site }}" class="no-transform">{{ customer.site }}</a></div>#}
{#                        {% endif %}#}
{#                    </div>#}
            </div>
{#            <div class="col">#}
{#                <div class="summary">#}
{#                    <div class="text">{% trans 'Оценка' %}: <span class="no-transform">{{ iss.customer_estimate }} {% trans 'чч' %}</span></div>#}
{#                    <div class="text">{% trans 'Дедлайн' %}: {{ iss.deadline|default_if_none:"" }}</div>#}
{#                    <div class="text">{% trans 'Готовность' %}: 17%</div>#}
{#                    <div class="text"><a href="" class="btn btn-primary no-transform">{% trans 'Принять работу' %}</a></div>#}
{#                </div>#}
{#            </div>#}
        </div>
        <div class="row">
            <div class="col col-12 col-md-10">
                <div class="badge badge-light info">
                    <div class="row">
                        <div class="col col-12 col-md-8">
                            {% if role == 'developer' %}
                                <span class="person">{{ iss.author.name }}</span>
                                <span class="developer"> - заказчик</span>
                                <span class="person">{{ iss.developer.name }}</span>
                                <span class="developer"> - разработчик</span>
                            {% else %}
                                <span class="person">{{ iss.developer.name }}</span>
                                <span class="developer"> - разработчик</span>
                            {% endif %}
                        </div>
                        <div class="col col-12 col-md-4 text-left text-md-right">
                            <span class="date">{{ iss.create_dt|date:"H:i / d b Y" }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-md-2 apply-work text-center d-none d-md-block">
                {% include 'issue_status_action.html' %}
            </div>
        </div>

        {% if role == 'developer' and iss.is_status_in_process %}
            <div class="row deadline">
                <div class="col">
                    Планируемая дата выполнения:{% if iss.deadline %}
                    {{ iss.deadline|date:'d.m.Y' }}
                {% else %}
                    <a href="#select-deadline-modal" role="button" class="btn btn-primary" data-toggle="modal">{% trans 'Указать' %}</a>
                {% endif %}

                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col task-description">{{ iss.html_description|safe|urlize}}</div>
        </div>
    </div>

{#    <div class="task-description">#}
{#        <ul class="nav nav-tabs buffer-top" id="task-tab" role="tablist">#}
{#            <li class="nav-item">#}
{#                <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="home" aria-selected="true">{% trans 'Описание' %}</a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" id="estimation-tab" data-toggle="tab" href="#estimation" role="tab" aria-controls="profile" aria-selected="false">{% trans 'Оценка' %}</a>#}
{#            </li>#}
{#        </ul>#}


{#        <div class="tab-content" id="myTabContent">#}
{#            <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">#}
{#                <p class="description">#}
{#                    {{ iss.description|safe }}#}
{#                </p>#}
{#            </div>#}
{##}
{#            <div class="tab-pane fade" id="estimation" role="tabpanel" aria-labelledby="estimation-tab">#}
{#                {% block estimation %}{% endblock %}#}
{##}
{#            <p><b>Дополнительно:</b></p>#}
{#            <ul>#}
{#                <li>Все три версии вполне можно выводить одним и тем же HTML кодом на Bootstrap</li>#}
{#                <li>В ТЗ нет ничего о полях объектов недвижимости. Интересует не столько то, что выводится (прощадь, цена и т.п.), а георафические данные</li>#}
{#            </ul>#}
{##}
{##}
{#            </div>#}
{#        </div>#}

      <!--   <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" href="task-description-customer.html">Описание</a></li>
            <li class="nav-item"><a class="nav-link" href="task-estimation-customer.html">Оценка</a></li>
        </ul> -->

{##}


{#    </div>#}
    <div class="files-wrapper"></div>

    <div class="estimation">
        {% block estimation %}{% endblock %}
    </div>

    <div class="discussion">

    </div>

{% endblock %}