{% load i18n %}

{% for i in items %}
    <tr class="item new-item-{{ b.id }}-{{ i.id }}">
        <td class="task-detail-options">
            <a href="javascript:void(0);" class="add-item" data-block-id="{{ b.id }}" data-count="1" data-insert-before="new-item-{{ b.id }}-{{ i.id }}">+1</a>
            <a href="javascript:void(0);" class="delete-item" data-block-id="{{ b.id }}" data-item-id="{{ i.id }}" data-is-new-item="true">{% trans 'удалить' %}</a>
            <input name="new-item-delete-{{ i.id }}" value="0" type="hidden">
        </td>
        <td data-label="Наименование">
            <textarea name="new-item-title-{{ i.id }}" class="form-control" rows="1">{{ i.title }}</textarea>
        </td>
        <td data-label="Оценка (расчет)">
            <input name="new-item-estimate-{{ i.id }}"
                   class="form-control estimate-input"
                   data-block-id="{{ b.id }}"
                   data-issue-id="{{ iss.id }}"
                   placeholder="{% trans 'Оценка в часах' %}" value="{{ i.estimate}}">
        </td>
        <td data-label="Оценка (будет оплачено)"><span class="estimate-developer">{{ i.developer_estimate }}</span> {% trans 'чч' %}</td>
        <td data-label="Оценка (видит Заказчик)"><span class="estimate-customer">{{ i.customer_estimate }}</span> {% trans 'чч' %}</td>
    </tr>

{% endfor %}

