.btn-primary {
  font-size: 0.9rem;
}

.btn-outline-primary {
  text-decoration: underline;
  font-size: 0.9rem;
  padding: 0.375rem 1.375rem
}

.navbar .nav-link {
  color: $secondary;
  font-size: 0.8rem;
}

nav .balance {
    margin-left: 38px;
    color: $secondary;
}
nav .balance b {
    color: $primary;
}

.badge-light {
  color: $primary;
}

h2 {
  margin-top: 2rem;
}
