$btn-border-radius: 2rem;
$border-width:  2px;
$h2-font-size:  1.65rem;
$grid-gutter-width: 14px;

$primary:     #246aae;
$secondary:   #71808c;
$light:       #f5f5f5;
$black:       #333333;
$red:         #df1749;

$btn-padding-x:  1.5rem;
$input-border-width: 1px;

$table-border-width:          1px;
$table-border-color:          #e5e5e5;
$border-color:                #f5f5f5;
$table-cell-padding:          .8rem .1rem .6rem;

$body-color:    $secondary;

$headings-margin-bottom:    0.1rem;

$badge-padding-y: 0.3rem;
$badge-pill-padding-x: 1rem;
$badge-font-size: 1rem;

