{% extends 'landing_base.html' %}

{% load static i18n %}
{% load inclusion %}

{% block container %}
        <nav class="navbar navbar-expand-md navbar-light">
        <a class="navbar-brand" href="/">
            <img src="{% static 'images/logo.png' %}"/>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">

            <ul class="navbar-nav ml-auto">

                {% for item in menu_top %}
                    <li class="nav-item"><a class="nav-link" href="{{ item.url }}">{{ item.name }}</a></li>
                {% endfor %}
                {% if request.user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'accounts:logout' %}">{% trans 'Выйти' %}</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}">{% trans 'Войти' %}</a></li>
                {% endif %}

            </ul>
        </div>

    </nav>

    <div class="row">
        <div class="col-sm-5 text-center freelancer">
            <img src="{% static 'images/freelancer.png' %}" class="d-none d-lg-block">
            <img src="{% static 'images/freelancerm.png' %}" class="d-lg-none">
        </div>
        <div class="col-sm-7 right-side">
            <h1>{% inclusion inclusions.1 request.user %}</h1>
            <h1 class="subtitle">{% inclusion inclusions.2 request.user %}</h1>
            <div class="description">
                {% inclusion inclusions.3 request.user %}
            </div>

            <div class="login">
                <a class="btn btn-success" href="{% if request.user.is_authenticated %}{% url 'issues:issues' %}{% else %}{% url 'accounts:login' %}{% endif %}">Войти</a> или
                <a class="register" href="{% url 'accounts:registration' %}">Зарегистрироваться</a>
            </div>
            <div class="row advantages">
                <div class="col-xl-3 col-lg-4 col-6">
                    <div><img src="{% static 'images/landing/no_commission.png' %}">{% inclusion inclusions.4 request.user %}</div>
                </div>
                <div class="col-xl-3 col-lg-4 col-6">
                    <div><img src="{% static 'images/landing/min_price.png' %}">{% inclusion inclusions.5 request.user %}</div>
                </div>
                <div class="col-xl-3 col-lg-4 col-6">
                    <div><img src="{% static 'images/landing/safety.png' %}">{% inclusion inclusions.6 request.user %}</div>
                </div>
                <div class="col-xl-3 col-lg-4 col-6">
                    <div><img src="{% static 'images/landing/payment.png' %}">{% inclusion inclusions.7 request.user %}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-none d-xl-flex indicators">
        <div class="col"><div>{{ users_count }}</div>{% inclusion inclusions.8 request.user %}</div>
        <div class="col"><div>{{ customers_count }}</div>{% inclusion inclusions.9 request.user %}</div>
        <div class="col"><div>{{ issues_count }}</div>{% inclusion inclusions.10 request.user %}</div>
        <div class="actual">
            <p><img src="{% static 'images/landing/actual_arrow.png' %}">данные на {% now "H:i" %} <br/>{% now "j b Y" %} года</p>
        </div>
    </div>

    <div class="row d-xl-none indicators">
        <div class="col-lg-4 col-md-6 col-xl-auto"><div>{{ users_count }}</div>{% inclusion inclusions.8 request.user %}</div>
        <div class="col-lg-4 col-md-6 col-xl-auto"><div>{{ customers_count }}</div>{% inclusion inclusions.9 request.user %}</div>
        <div class="col-lg-4 col-md-6 col-xl-auto"><div>{{ issues_count }}</div>{% inclusion inclusions.10 request.user %}</div>
        <div class="col-lg-4 col-md-6 col-xl-auto actual">
            <p><img src="{% static 'images/landing/actual_arrow.png' %}">данные на {% now "H:i" %} <br/>{% now "j b Y" %} года</p>
        </div>
    </div>

    <div class="d-lg-flex justify-content-between align-items-center developers">
        <div class="plus">
            <p><img src="{% static 'images/landing/developer_plus.png' %}">Разработчикам:</p>
        </div>
        <div class="col">
            <img src="{% static 'images/landing/arrow.png' %}">
            {% inclusion inclusions.11 request.user %}
        </div>
        <div class="col">
            <img src="{% static 'images/landing/check.png' %}">
            {% inclusion inclusions.12 request.user %}
        </div>
        <div class="col">
            <img src="{% static 'images/landing/scale.png' %}">
            {% inclusion inclusions.13 request.user %}
        </div>
        <div class="col register">
            <a class="btn btn-outline-primary" href="{% url 'accounts:registration' %}">Зарегистрироваться</a>
        </div>
    </div>

{% endblock %}

{% block footer %}
    <footer id="footer" class="footer"><!--Footer-->
        <div class="footer-bottom">
            <div class="container border-top">
                <div class="row">
                    <a class="navbar-brand" href="/">
                        <img src="{% static 'images/logo_in_time.png' %}"/>
                    </a>
                    <ul class="navbar">
                        {% for item in menu_bottom %}
                            <li class="nav-item"><a class="nav-link" href="{{ item.url }}">{{ item.name }}</a></li>
                        {% endfor %}

                        {% if request.user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'accounts:logout' %}">{% trans 'Выйти' %}</a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}">{% trans 'Войти' %}</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}