<!doctype html>
{% load static i18n main_tags %}
{% get_counters as page_counters %}
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>AZOB.ru</title>

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    {% for c in page_counters %}
        {{ c.header_code|safe }}
    {% endfor %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'scss/style.css' %}?_=2801">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?_=2703_">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head>
<body>
    {% for c in page_counters %}
        {{ c.top_code|safe }}
    {% endfor %}
    <div class="container bg-light">
        <nav class="navbar navbar-expand-md">
            <a class="navbar-brand" href="/">
                <img src="{% static 'images/logo.png' %}"/>
            </a>

            <div class="navbar-text username">
                {% if request.user %}
                    <a href="{% url 'accounts:profile' %}">{{ request.user.profile.name }}</a>
                {% endif %}
            </div>

            {% if iss.project %}
                <div class="navbar-text project-name">
                    <a href="{% url 'issues:issues' %}">{{ iss.project.name }}</a>
                </div>
            {% endif %}


            {% if request.user.profile.customer %}
                <div class="navbar-text balance">
                    {% trans 'Баланс' %}:  <b>{{ request.user.profile.customer.hour_balance }} {% trans 'чч' %}</b>
                </div>
            {% endif %}

            {% with request.user.profile.default_project as p %}
                {% if p %}
                    <button type="button" class="btn btn-primary btn-create" onclick='location="{% url 'issues:add_issue' p.id %}"'>{% trans 'Создать задачу' %}</button>
                {% endif %}
            {% endwith %}

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">

                <ul class="navbar-nav ml-auto">
                    {% for item in menu_top %}
                        <li class="nav-item"><a class="nav-link" href="{{ item.url }}">{{ item.name }}</a></li>
                    {% endfor %}
                    {% if request.user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'accounts:logout' %}">{% trans 'Выйти' %}</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}">{% trans 'Войти' %}</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>

    {% block container %}
        <main role="main" class="container page-404">
            <div class="row">
                <div class="col-12 text-center d-none d-sm-block">
                    <img src="{% static "images/404.png" %}">
                </div>
                <div class="col-12 text-center d-sm-none">
                    <img src="{% static "images/404m.png" %}">
                </div>

                <div class="col-12 text-center not-found">
                    <p><span>404.</span> Страница не найдена</p>
                </div>
                <div class="col-12 text-center">
                    <button type="button" class="btn btn-primary" onclick='location="/"'>{% trans 'На главную' %}</button>
                </div>
            </div>
        </main>
    {% endblock %}

    <footer id="footer" class="footer"><!--Footer-->
        <div class="footer-bottom">
            <div class="container border-top">
                <div class="row">
                    <a class="navbar-brand" href="/">
                        <img src="{% static 'images/logo_in_time.png' %}"/>
                    </a>
                    <ul class="navbar">
                        {% for item in menu_bottom %}
                            <li class="nav-item"><a class="nav-link" href="{{ item.url }}">{{ item.name }}</a></li>
                        {% endfor %}

                        {% if request.user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'accounts:logout' %}">{% trans 'Выйти' %}</a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}">{% trans 'Войти' %}</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="{% static 'js/jquery.form.min.js' %}"></script>

    {% block js_bottom %}{% endblock %}

    {% for c in page_counters %}
        {{ c.bottom_code|safe }}
    {% endfor %}
  </body>
</html>
