<!doctype html>
{% load static i18n main_tags %}
{% get_counters as page_counters %}
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}AZOB.ru{% endblock %}</title>
    {% block head %}{% endblock %}
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    {% for c in page_counters %}
        {{ c.header_code|safe }}
    {% endfor %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'scss/style.css' %}?_=0102">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?_=0304">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head>
<body>
    {% for c in page_counters %}
        {{ c.top_code|safe }}
    {% endfor %}
    <div class="container bg-light">
        <nav class="navbar navbar-expand-md navbar-light d-md-none row">
            {% if iss.project %}
                <div class="col col-12">
                    <div class="navbar-text project-name">
                        <a href="{% url 'issues:issues' %}">{{ iss.project.name }}</a>
                    </div>
                </div>
            {% endif %}

            <div class="col col-9">
                <a class="navbar-brand" href="/">
                    <img src="{% static 'images/logo.png' %}"/>
                </a>
                <div class="navbar-text username">
                    {% if request.user %}
                        <a href="{% url 'accounts:profile' %}">{{ request.user.profile.name }}</a>
                    {% endif %}
                </div>
            </div>
            <div class="col col-3 text-center">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="col col-6">
                {% if customer %}
                    <div class="navbar-text balance">
                        {% trans 'Баланс' %}:  <b>{{ customer.hour_balance }} {% trans 'чч' %}</b>
                    </div>
                {% endif %}

            </div>
            <div class="col col-6 text-center">
                {% if add_issue_url %}
                    <button type="button" class="btn btn-primary btn-create" onclick='location="{{ add_issue_url }}"'>{% trans 'Создать задачу' %}</button>
                {% else %}
                    {% with request.user.profile.default_project as p %}
                        {% if p %}
                            <button type="button" class="btn btn-primary btn-create" onclick='location="{% url 'issues:add_issue' p.id %}"'>{% trans 'Создать задачу' %}</button>
                        {% endif %}
                    {% endwith %}
                {% endif %}
            </div>

            <div class="col col-12 text-center">
                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav ml-auto">
                        {% for item in menu_top %}
                            <li class="nav-item"><a class="nav-link" href="{{ item.url }}">{{ item.name }}</a></li>
                        {% endfor %}
                        {% if request.user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'accounts:logout' %}">{% trans 'Выйти' %}</a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}">{% trans 'Войти' %}</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>

        </nav>
        <nav class="navbar navbar-expand-md d-none d-md-flex">
            <a class="navbar-brand" href="/">
                <img src="{% static 'images/logo.png' %}"/>
            </a>

            <div class="navbar-text username">
                {% if request.user %}
                    <a href="{% url 'accounts:profile' %}">{{ request.user.profile.name }}</a>
                {% endif %}
            </div>

            {% if iss.project %}
                <div class="navbar-text project-name">
                    <a href="{% url 'issues:issues' %}">{{ iss.project.name }}</a>
                </div>
            {% endif %}

            {% if request.user.profile.customer %}
                <div class="navbar-text balance">
                    {% trans 'Баланс' %}:  <b>{{ request.user.profile.customer.hour_balance }} {% trans 'чч' %}</b>
                </div>
            {% endif %}

            {% if add_issue_url %}
                <button type="button" class="btn btn-primary btn-create" onclick='location="{{ add_issue_url }}"'>{% trans 'Создать задачу' %}</button>
            {% else %}
                {% with request.user.profile.default_project as p %}
                    {% if p %}
                        <button type="button" class="btn btn-primary btn-create" onclick='location="{% url 'issues:add_issue' p.id %}"'>{% trans 'Создать задачу' %}</button>
                    {% endif %}
                {% endwith %}
            {% endif %}



            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">

                <ul class="navbar-nav ml-auto">
                    {% for item in menu_top %}
                        <li class="nav-item"><a class="nav-link" href="{{ item.url }}">{{ item.name }}</a></li>
                    {% endfor %}
                    {% if request.user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'accounts:logout' %}">{% trans 'Выйти' %}</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}">{% trans 'Войти' %}</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>

    <main role="main" class="container">

    {% block container %}{% endblock %}

    </main>

    <footer id="footer" class="footer"><!--Footer-->
        <div class="footer-bottom">
            <div class="container border-top">
                <div class="row">
                    <a class="navbar-brand" href="/">
                        <img src="{% static 'images/logo_in_time.png' %}"/>
                    </a>
                    <ul class="navbar">
                        {% for item in menu_bottom %}
                            <li class="nav-item"><a class="nav-link" href="{{ item.url }}">{{ item.name }}</a></li>
                        {% endfor %}

                        {% if request.user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'accounts:logout' %}">{% trans 'Выйти' %}</a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}">{% trans 'Войти' %}</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="{% static 'js/jquery.form.min.js' %}"></script>

    {% block js_bottom %}{% endblock %}

    {% for c in page_counters %}
        {{ c.bottom_code|safe }}
    {% endfor %}
  </body>
</html>
