{% extends '404.html' %}

{% load static i18n %}

{% block container %}
    <main role="main" class="container moderation">
        <div class="col-12 text-center d-none d-sm-block">
            <img src="{% static "images/moderation.png" %}">
        </div>
        <div class="col-12 text-center d-sm-none">
            <img src="{% static "images/moderationm.png" %}">
        </div>
        <div class="col-12 text-center not-found">
            <p>
                Ваша анкета находится на модерации <br/>
                <span>Мы уведомим Вас об окончании проверки</span>
            </p>
        </div>
        <div class="col-12 text-center">
            <button type="button" class="btn btn-primary" onclick='location="{% url 'accounts:profile' %}"'>{% trans 'В личный кабинет' %}</button>
        </div>
    </main>
{% endblock %}