<p>{{ comment.author.name }} писал(а):<br/>
{{ comment.html_text|safe }}
</p>
{% if previous_status %}
    <p>Изменены поля:<br/>
    Статус: с «{{ previous_status }}» на «{{ issue.get_status_display }}»<br/>
    </p>
{% endif %}
<hr/>
<b><a href="http://{{ host }}{% url 'issues:issue' issue.id %}">[{{ issue.project.name }} - Задача #{{ issue.id }}] {{ issue.title }}</a></b>
<p>Автор: {{ issue.author.name }}<br/>
Назначена: {{ issue.developer.name }}<br/>
Статус: {{ issue.get_status_display }}<br/>
Срочность: {{ issue.get_urgency_display }}<br/>
Дата создания: {{ issue.create_dt|date:"H:i d.m.Y" }}<br/>
Дедлайн: {{ issue.deadline|date:"d.m.Y" }}<br/>
Оценка: {% if estimate %}{{ estimate|floatformat:2 }} чч{% endif %}</p>
<p>{{ issue.html_description|safe }}</p>



