<p>Задача #{{ issue.id }} была обновлена ({{ profile.name }}).</p>
<p>Изменены поля:<br/>
Статус: с «{{ previous_status }}» на «{{ issue.get_status_display }}»<br/>
{% ifnotequal estimate previous_estimate %}Оценка: с «{{ previous_estimate|default_if_none:""|floatformat:2 }}» на «{{ estimate|floatformat:2 }} чч»{% endifnotequal %}
<hr/>
<b><a href="http://{{ host }}{% url 'issues:issue' issue.id %}">[{{ issue.project.name }} - Задача #{{ issue.id }}] {{ issue.title }}</a></b>
<p>Автор: {{ issue.author.name }}<br/>
Назначена: {{ issue.developer.name }}<br/>
Статус: {{ issue.get_status_display }}<br/>
Срочность: {{ issue.get_urgency_display }}<br/>
Дата создания: {{ issue.create_dt|date:"H:i d.m.Y" }}<br/>
Дедлайн: {{ issue.deadline|date:"d.m.Y" }}<br/>
Оценка: {% if estimate %}{{ estimate|floatformat:2 }} чч{% endif %}</p>
<p>{{ issue.html_description|safe }}</p>
