<p>Задача #{{ issue.id }} была создана ({{ issue.author.name }}).</p>
<p>Описание:<br/>
{{ issue.html_description|safe }}</p>
<hr/>
<b><a href="http://{{ host }}{% url 'issues:issue' issue.id %}">[{{ issue.project.name }} - Задача #{{ issue.id }}] {{ issue.title }}</a></b>
<p>Автор: {{ issue.author.name }}<br/>
Назначена: {{ issue.developer.name }}<br/>
Статус: {{ issue.get_status_display }}<br/>
Срочность: {{ issue.get_urgency_display }}<br/>
Дата создания: {{ issue.create_dt|date:"H:i d.m.Y" }}<br/>
Дедлайн: {{ issue.deadline|date:"d.m.Y" }}<br/>
Оценка: {% if estimate %}{{ estimate|floatformat:2 }} чч{% endif %}</p>
<p>{{ issue.html_description|safe }}</p>



